<table border="1" width="100%">

  <colgroup>
    <col width="100%">

  </colgroup>
  <tr>
    <td>1. Zeile, 1. Spalte</td>

  </tr>  
  
  <colgroup>
    <col width="50%">
    <col width="25%">
    <col width="25%">
  </colgroup>
  <tr>
    <td>1. Zeile, 1. Spalte</td>
    <td>1. Zeile, 2. Spalte</td>
    <td>1. Zeile, 3. Spalte</td>
  </tr>
  <colgroup>
    <col width="25%">
    <col width="25%">
    <col width="50%">  
  <tr>
    <td>2. Zeile, 1. Spalte</td>
    <td>2. Zeile, 2. Spalte</td>
    <td>2. Zeile, 3. Spalte</td>
  </tr>  
 
  
  <!-- usw. andere Zeilen der Tabelle -->
</table>

