<!--
<table border="2">

<tr>
   <td colspan="3">
      Zelle 3 Spalten breit
   </td>
</tr>

<tr>
   <td>X</td>
   <td colspan="2">Zelle 2 Spalten breit</td>
</tr>

<tr>
   <td>X</td>
   <td>X</td>
   <td>X</td>
</tr>

</table> 
-->

<table border="2" width="100%">

<tr>
   <td colspan="3">
      Zelle 3 Spalten breit
   </td>
</tr>

<tr>
   <td>X</td>
   <td colspan="2">Zelle 2 Spalten breit</td>
</tr>

<tr>
   <td width="50%">X</td>
   <td width="25%">X</td>
   <td width="25%">X</td>
</tr>

</table> 
