<!--
<table border="2">

<tr>
   <td colspan="3">
      Zelle 3 Spalten breit
   </td>
</tr>

<tr>
   <td>X</td>
   <td colspan="2">Zelle 2 Spalten breit</td>
</tr>

<tr>
   <td>X</td>
   <td>X</td>
   <td>X</td>
</tr>

</table> 
-->

<table border="2" width="100%">

<tr>
   <td colspan="5">
      Zelle 3 Spalten breit
   </td>
</tr>

<!-- ------------------------------------------------------------------------- -->

<tr>
   <td  colspan="4">2</td>
   <td >2</td>
</tr>

<!-- ------------------------------------------------------------------------- -->


<tr>
   <td >3</td>
   <td  colspan="2">3</td>
   <td  colspan="2">3</td>
</tr>

<!-- ------------------------------------------------------------------------- -->

<tr>
   <td >4</td>
   <td >4</td>
   <td  colspan="3">4</td>
</tr>




<!-- ------------------------------------------------------------------------- -->


<tr>
   <td>5</td>
   <td  colspan="4">5</td>

</tr>



<!-- ------------------------------------------------------------------------- -->

<tr>
   <td width="30%"></td>
   <td width="25%"></td>
   <td width="5%"></td>
   <td width="15%"></td>
   <td width="25%"></td>      
</tr>

</table> 
